@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  @apply text-[#7A7D7E];
  @apply bg-[#F4F4F6];
}
